<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/mypageInvestor.css">
<link rel="stylesheet" href="/css/exchangeSubmit.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;
</style>

<script type="text/javascript" th:inline="javascript">
	var nowPoint = [[${nowPoint}]];
	var userPw = [[${user.password}]];
	var userName = [[${user.name}]];	
	
 	/* console.log("nowPoint : " + nowPoint);
 	console.log("userPw : " + userPw);
	console.log("userName : " + userName); */
	
	/* 문의 하기 클릭시 */
	function exchange(e){		
		
		var bank = document.getElementById('bank').value;
		var accountHolder = document.getElementById('accountHolder').value;
		var account = document.getElementById('account').value;
		var amount = document.getElementById('amount').value;
		var pw = document.getElementById('pw').value;
		
		/* 은행 조건 */
		if (bank === 'all') {
			alert("은행을 선택해주세요.");
			e.preventDefault();
			document.getElementById('bank').focus();
			return false;
		}
		
		/* 예금주 조건 */
		if (accountHolder === null || accountHolder === "") {
			alert("예금주명을 적어주세요");
		  	e.preventDefault();
			document.getElementById('accountHolder').focus();
			return false;
		} 
		if (accountHolder !== null && accountHolder !== userName) {
			alert("예금주명과 주문자명이 동일하지 않습니다.");
		  	e.preventDefault();
			document.getElementById('accountHolder').focus();
			return false;
		}
		
		/* 계좌번호 조건 */
		if (account === null || account === "") {
            alert("계좌번호를 입력해주세요.");
            e.preventDefault();
            document.getElementById('account').focus();
            return false;
        }
		if (account !== null && account.includes('-')) {
            alert("- 을 제외하고 입력해주세요.");
            e.preventDefault();
            document.getElementById('account').focus();
            return false;
        }
		
		/* 환전 신청 금액 조건  */
		if(amount === null || amount === ""){
			alert("환전 신청 금액을 입력해주세요.");
			e.preventDefault();
            document.getElementById('amount').focus();
            return false;
		}
		if(amount !== null && amount > nowPoint){
			alert("환전 신청 금액이 보유한 포인트보다 많습니다.");
			e.preventDefault();
			document.getElementById('amount').value = "";
            document.getElementById('amount').focus();
            return false;
		}
		
		/* 비밀번호 조건 */
		if(pw === null || pw === ""){
			alert("비밀번호를 입력해주세요.");
			e.preventDefault();
            document.getElementById('pw').focus();
            return false;
		}
		if(pw !== null && pw !== userPw){
			alert("사용자의 비밀번호와 동일하지 않습니다.");
			e.preventDefault();
			document.getElementById('pw').value = "";
            document.getElementById('pw').focus();
            return false;
		}
	    
		document.getElementById("exchangeForm").submit(); // 폼 제출			
		//return true;

	}	
	
	/* 취소 버튼 클릭시 */
    function cancel() {
        window.location.href = "/";
    }
</script>
<title>CLOVER | 환전 신청</title>
</head>
<body style="padding-top: 5.5rem;">
	<div>
		<div th:insert="navbar :: navbar"> </div> 
		<div class="container">
			<!-- 메뉴 -->
			<div class="col-3" style="margin-top: 4rem;padding: 0 3rem;" th:insert="sideBar :: sideBar"></div>
			 
			<form id="exchangeForm" method="post" th:action="@{/mypage/exchangeSubmit}"
				class="submit-container col-8 ms-auto me-auto ">

				<div class="fw-bold fs-3 mt-4 askDetail" style="color: #0042A0;">
					환전 신청
					<hr class="hr-line">					
				</div> 
				<!-- 환전 신청 폼  -->
				<div class=" d-flex mb-4">
					<div class="col-6">
						<div class="col-4 mb-2 fw-semibold">
							은행 <span id="essential">*</span>
						</div>
						<div class="col-9">
							<select id="bank" name="bank"
								class="form-select form-select-sm"
								aria-label=".form-select-sm example">
								<option value='all' selected>전체</option>
								<option value='kb'>국민은행</option>
								<option value='sh'>신한은행</option>
								<option value='nh'>농협은행</option>
								<option value='ibk'>IBK기업은행</option>
								<option value='hn'>KEB하나은행</option>
								<option value='wr'>우리은행</option>
								<option value='sc'>SC제일은행</option>
								<option value='shy'>Sh수협은행</option>
								<option value='ct'>한국씨티은행</option>
								<option value='k'>케이뱅크</option>
								<option value='toss'>토스뱅크</option>
								<option value='kn'>BNK경남은행</option>
								<option value='dg'>대구은행</option>
								<option value='bs'>부산은행</option>
								<option value='kj'>광주은행</option>
								<option value='jb'>전북은행</option>
								<option value='jj'>제주은행</option>

							</select>
						</div>
					</div>
					<div class="col-6">
						<div class="col-4 mb-2 fw-semibold">
							예금주 <span id="essential">*</span>
						</div>
						<div class="col-9">
							<input type="text" id="accountHolder" name="accountHolder" class="form-control form-control-sm " 
								placeholder="" aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-sm"> <span
								id="warning">예금주명은 주문자명과 동일해야합니다.</span>
						</div>
					</div>
				</div>
				<div class=" d-flex">
					<div class="col-6 mb-4">
						<div class="col-4 mb-2 fw-semibold">
							계좌번호 <span id="essential">*</span>
						</div>
						<div class="col-9">
							<input type="text" id="account" name="account" class="form-control form-control-sm "
								placeholder="" aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-sm"> <span
								id="warning">'-' 없이 숫자만 입력해주세요.</span>
						</div>
					</div>
					<div class="col-6 mb-4">
						<div class="col-4 mb-2 fw-semibold">
							신청 금액 <span id="essential">*</span>
						</div>
						<div class="col-9">
							<input type="text" id="amount" name="amount" class="form-control form-control-sm "
								aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-sm"> 
								<!-- <span id="warning">5,000원 이상의 금액을 입력하세요.</span> -->
						</div>
					</div>
				</div>
				<div class="d-flex">
					<div class="col-6 mb-4">
						<div class="col-4 mb-2 fw-semibold">
							비밀번호 <span id="essential">*</span>
						</div>
						<div class="col-9">
							<input type="password" id="pw" name="pw" class="form-control form-control-sm "
								aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-sm"> <span
								id="warning">로그인 시 사용한 비밀번호와 동일해야합니다.</span>
						</div>
					</div>
				</div>
				<div class="d-flex">
					<div class="col-2 me-3 mb-4 fw-semibold">개인정보 수집 및 동의 안내</div>
					<div class="col-8 privacy-info agreeCertain">
						<p>수집하는 개인정보 항목 : 회원이 보유한 은행, 예금주명, 계좌번호 정보</p>
						<p></p>
						<span>작성해주시는 개인정보는 문의 접수 및 고객 불만 해결을 위해 3년간 보관합니다.<br></span>
						<span>이용자는 본 동의를 거부할 수 있으나, 미동의 시 문의 접수가 불가능합니다.</span>
					</div>
					<div class="agree">
						<input class="form-check-input normal" type="checkbox" value=""
							id="flexCheckDefault">
					</div>
				</div>

				<div class="text-center justify-content-end">				
					<button type="button" onclick="exchange(event)" class="btn btn-primary fw-bold">문의하기</button>
					<button type="button" onclick="cancel()" class="btn btn-outline-dark fw-bold">취소</button>
				</div>
			</form>
		</div>
		<div th:insert="footer :: footer"> </div>	
	</div>

</body>
</html>
