<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- 서버 돌릴 시 '../static/ 빼기! -->
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/reset.css">
	<!-- 기업 마이페이지 CSS 적용 (추후 변경 예정) -->
	<link rel="stylesheet" href="../../static/css/mypageCorp.css">
   	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<title>CLOVER</title>
</head>
<!-- 마이페이지 - 투자자 -->
<body>
	<div>
		<!-- Navbar -->
		<div th:insert="navbar :: navbar"> </div> 
		
		<div class="container">
			<div class="row mt-3">
				<div class="crop-info">
					<div class="row align-items-center">
						<!-- 프로필사진 및 아이디 -->
						<div class="col-6 text-end">
							<img src="https://dummyimage.com/100x100/000/fff" />
						</div>
						<div class="col-6">아이디</div>
			    		
					</div>
					<!-- 키워드 -->
					<div class="row mt-3">
			    		<div class="d-flex justify-content-center mb-3">
			    			<div class="keyword text-color-navy">#펀딩성공률 53%</div>
			    			<div class="keyword text-color-navy">#러버추천</div>
			    			<div class="keyword text-color-navy">#비건 뷰티</div>
			    		</div>
		    		</div>
		    		
		    		<!-- 관심기업 -->
		    		<div class="row mt-3">
			    		<div class="d-flex justify-content-center mb-3">
			    			<div class="keyword text-color-navy">#비건 뷰티</div>
			    		</div>
		    		</div>
		    		
		    		<!-- 포인트 -->
		    		<div class="row mt-3">
		    			<div class="col-6 text-end">
		    				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-p-circle-fill" viewBox="0 0 16 16" style="color: #0042A0;">
							  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM5.5 4.002V12h1.283V9.164h1.668C10.033 9.164 11 8.08 11 6.586c0-1.482-.955-2.584-2.538-2.584H5.5Zm2.77 4.072c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97H8.27Z"/>
							</svg>
		    			</div>
		    			<div class="col-6">
		    				<div>13,500</div>
		    			</div>
		    		</div>
					
				</div>
			</div>
			
			<!-- 메뉴 -->
			<div class="col-2">
				<div class="menu mt-4">
					<li>펀딩 현황</li>
					<li>투자자 문의내역</li>
					<li>펀딩 신청</li>
					<li>정산</li>
					<li>포인트</li>
				</div>
			</div>

			<!-- 투자한 펀딩 목록 -->
			<!-- 카드 -->
			<div class="col-6 justify-content-center">
				<div th:each="fund : ${myFunds}" class="card mb-5" style="width: 40rem;">

					<img src="https://dummyimage.com/400x200/000/a6a6a6">

					<div class="card-body">						
					    <h5 class="card-title" th:text="${fund.title}"></h5>
					    <p class="card-text" th:text="${fund.content}"></p>
					    <div class="d-flex justify-content-end">
									<div class="text-color-navy" th:text="${#temporals.format(fund.startDate, 'yy.MM.dd')}"></div>
		    				<div class="text-color-navy mx-1"> - </div>
		    				<div class="text-color-navy" th:text="${#temporals.format(fund.endDate, 'yy.MM.dd')}"></div>
		    			</div>
		    			<div class="progress">
		                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
		                </div>
					</div>
				</div>
			</div>

		</div>
	</div>	

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
