<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/pointCharge.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"></script>

<!-- 아임포트 라이브러리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- iamport.payment.js -->
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script type="text/javascript">


	//GET 방식의 AJAX 호출
	/* $.ajax({
	  url: "/pointCharge",
	  type: "GET",
	  success: function(data) {
		  //현재 잔여 포인트 출력
		  $("#nowPoint").text(data.walletAmount);
		  
		// 포인트 내역 상세 목록 출력
		  var phDetailList = data.phDetailList;
		  var html = "";
		  for (var i = 0; i < phDetailList.length; i++) {
		    var pointHistory = phDetailList[i];
		    html += "<div class='row'>";
		    html += "<div class='col-2' th:text='${#dates.format(" + pointHistory.date + ", \"M/d\")}'></div>";
		    html += "<div class='col-8' th:text='${" + (pointHistory.type == 0 ? "'충전'" : "'사용'") + "}'></div>";
		    html += "<div class='col-2' th:text='${" + pointHistory.amount + "}'></div>";
		    html += "</div>";
			
		  }
		  $("#pointHistoryList").html(html);
	  },
	  error: function() {
	  }
	}); */
	
	/////////////////////////////////////////////////////////////
	/* 아임포트 결제 처리*/	


	var IMP = window.IMP;
	var code = "imp78536886"; //가맹점 식별코드
	IMP.init(code);

	function requestPay() {
		
		var money = document.getElementById('charge_money').value;
		if (money == null ||  money === "") {
			alert("충전할 금액을 입력해주세요.");
			return;
		}
		
		/*pointHistory에 필요한 정보  */
		/* type, amount, create_at, funding_id, wallet_id */
		
		/* 추후 session에 회원정보가 존재할 경우, 아래처럼 수정 예정 */
        /* var user_id = [[${session.userid}]];
        var user_email =  [[${session.email}]];
        var user_name =  [[${session.name}]]; */        
        
        var user_id = 1;	//유저 아이디(pk)
        var wallet_id = 1; 	//유저 월렛 id
        var user_email =  'example@example.com';
        var user_name =  '조아영';
        var user_phone = '010-1234-5678';
        var funding_id = '1';
        var funding_name = 'CLOVER 포인트 충전';    
        var type = 0; //충전 0, 사용 1, 환전 2
        var currentTime = new Date();

		IMP.request_pay({
			pg : "html5_inicis", //pg사 구분코드 - 이니시스 웹표준
			pay_method : 'card', //결제수단 구분코드 - 신용카드
			merchant_uid : 'point_' + new Date().getTime(), //주문번호
			name : funding_name, //결제대상 16byte이내
			amount : money, //결제금액
			buyer_name : user_name, //주문자명
			buyer_tel : user_phone, //주문자연락처
			buyer_email : user_email, //주문자 이메일
			
			//pc_redirect_url : '/mypage/pointCharge' //결제완료 후 이동 URL
		}, function(rsp) {
			console.log(rsp);
			
			if (rsp.success) { //결제 성공시
				var msg = "[결제 완료]";
				msg += " 결제 방법 = " + rsp.pay_method;
				msg += " 결제 금액 = " + rsp.paid_amount;
				msg += " 주문자명 = " + rsp.buyer_name;
				console.log(msg);
				alert("결제가 완료되었습니다.");				
				
				//데이터 전송
				$.ajax({					
					url : "/mypage/pointCharge",
					type : "POST",
					dataType:"json",
					data : {amount : rsp.paid_amount, 
							type : type,
							wallet_id : wallet_id},
					success: function(response) {
				        var amount = response.amount;
				        var wallet_id = response.wallet_id;
				        var date = response.date;
				        
//				        $("date").text(date);
				        //$("#nowPoint").text(amount);
	//			        $("#status").text(amount);

				        console.log("Amount: " + amount);
				        console.log("wallet_id: " + wallet_id);
				        
				        //추후 적용			        
				        //locaiton.href="/mypage/pointChargeFin";
				    },
				    error: function(jqXHR, textStatus, errorThrown) {
				        // 에러 처리를 하는 부분입니다.
				        console.error("Request failed: " + textStatus, errorThrown);
				    }
					
				}); //ajaxEnd
				//window.location.href = rsp.pc_redirect_url; // 웹 페이지 이동

			} else { //결제 실패시
				var msg = "[결제 실패 : " + rsp.error_code + "]";
				msg += " 에러 내용 : " + rsp.error_msg;
				console.log(msg);

				//충전 금액 입력 null 일 경우 발생 에러 메세지
				//[결제 실패 : F1001] 에러 내용 : 결제요청금액이 0원입니다. 빌링키발급을 위해 customer_uid가 지정될 때에만 0원이 허용됩니다. 요청 amount :

				alert("결제를 실패하였습니다.");
			}
		});
	}//requestPay() End
</script>

<title>CLOVER | MYPAGE - 포인트 충전</title>
<!-- 	마이페이지 - 투자자 (포인트 충전) -->
</head>
<body>

	<div>
		<div class="nav"></div>
		<div class="banner"></div>

		<div class="category"></div>
		<div class="container">
			<div class="col-2" style="background-color:gray;">

			</div>
			<div class="col-8 m-auto">

				<!-- 충전 -->
				<div class="all">
					<div class="fs-3 fw-bold point-txt">
						포인트 
						<hr class="hr-line">
					</div>
					
					<!-- 네모 박스 -->
					<div class="border box shadow-sm mb-5 bg-white rounded">
						<div class="wallet col-6 fs-4 fw-bold txt-blue">CLOVER WALLET</div>

						<!-- 잔여포인트 -->
						<div class="row justify-content-end text-end fs-5">
							<div class="pointIcon col-md-5 fw-bold">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
									fill="currentColor" class="bi bi-p-circle-fill"
									viewBox="0 0 16 16" style="color: #0042A0;">
						  <path
										d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM5.5 4.002V12h1.283V9.164h1.668C10.033 9.164 11 8.08 11 6.586c0-1.482-.955-2.584-2.538-2.584H5.5Zm2.77 4.072c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97H8.27Z" />
						</svg>
								잔여포인트
							</div>
							<div class="col-md-3" id="nowPoint" th:text="${#numbers.formatInteger(nowPoint,3,'COMMA')}"></div>
							point
						</div>
 
						<!-- 최소 금액은  -->
						<div class="lowprice row justify-content-end text-end">
							<div id="funding-warning1">
									<svg xmlns="http://www.w3.org/2000/svg" style="color: #9A9A9A;"
										width="0.8rem" height="0.8rem" fill="currentColor"
										class="bi bi-question-circle" viewBox="0 0 16 16">
								  <path
											d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
								  <path
											d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
								</svg>
									충전 최소 금액 : 100원
								</div>
						</div>

						<!-- 충전 -->
						<div class="charge row justify-content-end text-end fw-5">
							<div class="col-md-5">
								<input type="text" id="charge_money" class="form-control"
									placeholder="충전할 금액을 입력해주세요.">
							</div>
							<div class="col-md-2">
								<button type="button" onclick="requestPay()"
									class="btn btn-primary fw-bold">충전</button>
							</div>
						</div>

						<div id="funding-warning2" class="refund" style="text-align: right;">포인트 환전 신청은 관리자에게 문의해주세요.</div>
					</div>
					<!-- 네모 박스 end -->

					<!-- 아래부분 -->
					<div class="under-all">

						<!-- 포인트 내역 -->
						<div class="fs-4 fw-bold point-txt">
						포인트 내역
						<hr class="hr-line">
					
						<!--  버튼 -->
						<div class="row">
							<!-- style="padding-bottom: 1rem" -->
							<div class="btns4 col-md-6">
								<button type="button" class="filled btn btn-primary">전체</button>

								<button type="button" class="btn btn-outline-primary">충전</button>

								<button type="button" class="btn btn-outline-primary">사용</button>
								<button type="button" class="btn btn-outline-primary">환전</button>
							</div>
							<div class="col-md-3 offset-md-3 text-end">

								<div class="dropdown">
									<button class="btn  dropdown-toggle" type="button"
										id="dropdownMenuButton1" data-bs-toggle="dropdown"
										aria-expanded="false">전체기간</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<li><a class="dropdown-item" href="#">1기간</a></li>
										<li><a class="dropdown-item" href="#">2기간</a></li>
										<li><a class="dropdown-item" href="#">3기간</a></li>
									</ul>
								</div>

							</div>
							
							
						</div>
					</div>
						
						<!-- 포인트 상세 내역 -->
						<div class="list" style="margin: 1rem" th:each="phDetail : ${phDetailList}">
							<div class="row" >
								<div class="col-2"
									th:text="${#temporals.format(phDetail.createdAt, 'MM/dd')}"></div>
								<div class="col-8" th:text="${phDetail.type == 0 ? '충전' : '사용'}"></div>
								<div class="col-2" th:text="${#numbers.formatInteger(phDetail.amount,3,'COMMA')}"></div>
							</div>
							<div class="row">
								<div th:text="${#temporals.format(phDetail.createdAt, 'HH:mm')}"></div>
								<!-- <div th:text="${#temporals.format(phDetail.createdAt, 'HH:mm')}"></div> -->
							</div>
						</div>						
						
						<!-- 내역시간 금액 end -->
					</div>
					<!-- 아래부분 end -->
				</div>

			</div>
			<!-- section End -->
		</div>

		<div class="footer"></div>
	</div>
</body>
</html>
