@charset "UTF-8";

.section-title{
	color: #0042A0;
	font-size: 2rem;
	margin: 2rem 0 0 0;
}

.gray-line{
	boarder: 3px solid #DEDEDE;
}

.menu{
	border: 1px solid #DEDEDE;	
	border-radius: 1rem;
	padding: 3rem;
	text-align: center;
	margin: 3rem 0 0 0;
}

.menu li {
	margin: 1rem 0;
	list-style:none;
	font-size: 1rem;
}

.table {
	background-color: #fcfcfc;
	border-radius: 0.3rem;
	padding: 3rem 1rem;
	
}


.manage-link {
	text-decoration: none;
	text-decoration-color: #0042A0;
}