@charset "UTF-8";

* {
	box-sizing: border-box;
}

.banner {
	width: 100%;
	height : 23rem;
}

.category {
	width: 100%;
	height: 5.3rem;
	border: 1px solid #DEDEDE;
}

.section {
	width: 100%;
	/* min-height: 100vh; */
}

.footer {
	width: 100%;
	height: 5rem;
	border: 1px solid;	
}
