/* charset "UTF-8 "; */
.section-border {
	padding-top: 2rem;
}

.division-line {
	border-top: 1px solid #444444;
}
/*category css*/
.category-content {
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.card-title-container {
	/* 		display: flex;
	align-items: center;
	justify-content: center; */
	
}

.category-list {
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.category-list li {
	font-weight: bold;
}

.sort-list {
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

/*card css*/
.card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
}

.card-box {
	/*padding: 15px;*/
	border-radius: 15px;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}

.card-body-gap {
	padding-bottom: 0 !important;
}

.card-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-title-keyword {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 0.5rem;
}

.card-title-keyword>.keword {
	margin-right: 0.5rem;
	padding: 0.3rem;
}

.card-dday {
	padding: 0.3rem;
}

.card-logo {
	width: 4rem;
	box-sizing: border-box;
	text-align: center;
}

.list-group-item-border {
	border: none !important;
}

.percent {
	text-align: right;
}