@charset "EUC-KR";

.section {
	box-sizing: content-box !important;
}

.info-detail-container {
	width: 55%;
	height: 80%;
	/*background-color: gray;*/
	margin: auto;
	/*border: 1px solid blue;*/
	/* justify-content: center;
	align-items: center; */
}

.sequence-img-container {
	width: 100%;
	padding: 2rem 0;
}

.sequence-img {
	width: 60%;
	margin: auto;
	display: block;
}

.funding-info-img {
	border-radius: 5px;
	width: 270px;
}

.funding-info-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.funding-logo {
	width: 4rem;
	box-sizing: border-box;
	text-align: center;
}

.info-input-container {
	height: 100%;
	/*background-color: gray;*/
	border-top: 2px solid #0042A0;
}

/*펀딩 상세 정보*/
.funding-info1 {
	
}

.funding-info5 {
	margin-top: 3rem;
}

.funding-info-title {
	margin-top: 1.5rem;
	font-size: 18px;
	font-weight: 600;
}

.funding-info-container1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	border: 1px solid gray;
	border-radius: 5px;
}

.funding-info-container2 {
	display: flex;
	align-items: center;
	text-align: right;
	justify-content: space-between;
}

.funding-info-container3 {
	border: 1px solid gray;
	border-radius: rpx;
}

.funding-info-container4 {
	border: 1px solid gray;
	border-radius: rpx;
}

.funding-amount-title {
	border: 1px solid gray;
	background-color: #dbdbdb;
}

.funding-amount {
	display: flex;
	justify-content: space-around;
}

.funding-pay-title {
	display: flex;
	justify-content: space-around;
}

.funding-pay-point {
	display: flex;
	justify-content: right;
}

.card-title-keyword {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 0.5rem;
}

button.btn-st {
	width: 100%;
	background-color: #0042A0;
}
/* .btn:hover{
	color:none;
	background-color: none;
	border-color: none;
	} */