/* charset "UTF-8 "; */
* {
   font-family: 'Noto Sans KR', sans-serif;
}

.card-img-top{
	width:auto;
	height: 100%;
}

.section-border {
	padding-top: 2rem;
}

.division-line {
	width: 75%;
	border-top: 0.6px solid #4a4b4b;
	margin: 1.5rem 0;
	color: #DEDEDE;
}

/*category css*/
.category-content {
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.card-title-container {
	/* 		display: flex;
	align-items: center;
	justify-content: center; */
	
}

.category-list {
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.category-list li {
	font-weight: bold;
}

.category-list a {
	text-decoration: none;
	color: #2d2e2e;
}

.category-list a:hover {
	color: #0042A0;
}

.sort-list {
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	gap: 0.6rem;
}

.sort-list a{
	text-decoration: none;
	color: #2d2e2e;
}

.sort-list a:hover{
	text-decoration: none;
	color: #0042A0;
	font-weight: 600;
}

/*card css*/
.card-content {
	padding: 1rem;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	padding: 1rem;
}

.card-box {
	/* padding: 3rem; */
	border-radius: 1rem;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}

.card-body-gap {
	padding-bottom: 0 !important;
}

.card-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-title-keyword {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 0.5rem;
}

.card-title-keyword>.keword {
	margin: 0 0.5rem 0 0;
	padding: 0.2rem 0.5rem;
	background-color: #f4f4f4;
	color: #0042A0;
	border-radius: 0.5rem;
	font-size: 0.8rem;
	
}

.card-dday {
	width: 3rem;
	color: #ffffff;
	background-color: #0042A0;
	border-radius: 0.5rem;
	font-size: 0.8rem;	
	padding: 0.3rem 0.4rem;
	margin: 1rem 0 0 13rem;
}

.card-logo {
/* 	width: 3.5rem; */
/* 	height: 0.5rem; */
/* 	box-sizing: border-box; */
/* 	text-align: center; */
/* 	position: relative; */
	margin: 0 1rem 0 0;
	height: auto;
	width: 3.5rem;
}

.card-liked {
	position: absolute;
	right: 0.6rem;
	bottom: 26.5rem;
	color: #b6b6b8;
}

.list-group-item-border {
	border: none !important;
}

.percent {
	text-align: right;
}

.progress{
	background-color: none;
}

text-navy {
	color: #0042A0;
}

.percentage-bar{
	background-color: #0042A0;
	border-radius: 1rem;
	width: 10rem;
	height: 1rem;
	margin: 1rem 0 0 0;
}

.side-chart {
	width: 18rem; 
	height: 25rem;
	padding: 0 0 1rem 1rem;
	justify-content: end;
	margin: 0.8rem 0 0 0;
}

.keyword {
	background-color: #ebeded;
	color: #0042A0;
	padding: 0.3rem 0.8rem;
	border-radius: 1rem;
	margin: 0.5rem 0 0 0.5rem;
}

.card2 {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
}

.card2:hover {
  transform: scale(1.04);
  border: none;
}
.card2 > a:hover, .card2 > a:active {
      color: inherit;
      background: #fff;
      text-decoration: none;}
      .card2 > a:hover .card-icon-top,
      .card2 > a:hover .card-footer .vfi,
      .card2 > a:hover .card-tags,
      .card2 > a:active .card-icon-top,
      .card2 > a:active .card-footer .vfi,
      .card2 > a:active .card-tags {
        color: inherit; }

      .card2 > a:hover .text-muted, .card2 > a:active .text-muted {
        color: #fff !important; }
      .card2 > a:hover .card-tags:before, .card2 > a:active .card-tags:before {
        background-color: #fff; }

/* searchResult */
.result-keyword {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: 400;
}

.result-keyword > span{
	font-size: 1.65rem;
	color: #0042A0;
	font-weight: 600;
}
