@charset "UTF-8";

.navbar{
	display: flex;
}
.logo {
	width: 10rem;
	height: 2.8rem;
	margin: 0.5rem 0 0 5rem;
}

.search-bar{
	display: block;
    width: 13rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
	position: relative;
	border: 0.15rem solid #0042A0;
	appearance: none;
	border-radius: 0.5rem;
}

.search-icon {
	position: absolute;
	right: 14rem;
	top: 2rem;
}


.nav-item {
	 list-style:none;
}

.left-nav {
	display: flex;
	justify-content: end;
	/* justify-items: end; */
	align-content: center;
}

.gray-line {
	color: #DEDEDE;
}