@charset "UTF-8";

.container {
	display: flex;
}

.point-txt {
	margin-top: 2rem;
	color: #0042A0;
}

.txt-blue {
	color: #0042A0;
}

.wallet {
	padding-bottom: 2rem;
}

.hr-line {
	width: 100%;
	height: 0.15rem;
	background-color: black;
	color: black;
}

.hr-line2 {
	width: 100%;
	height: 0.1rem;
	background-color: black;
	color: black;
	margin: 0.7rem;
	margin-bottom: 0.7rem;
}

.box {
	padding: 1.5rem;
	border: 1px solid grey;
	border-radius: 5px;
}

.lowprice {
	font-size: 0.5rem;
}

.charge {
	padding-top: 0.5rem;
}

.btn.btn-primary {
	width: 100%;
	background-color: #0042A0;
	border : none;
}

.filled.btn.btn-primary {
	width: 4rem;
	border-radius: 4rem;
	background-color: #0042A0;
	border: none;
}

.btn.btn-outline-secondary {
	width: 4rem;
	border-radius: 4rem;
}

#funding-warning1 {
	color: #9A9A9A;
	font-size: 0.8rem;
	align-self: center;
	margin: 0.3rem 0;
}

#funding-warning2 {
	color: #0042A0;
	font-size: 0.8rem;
	opacity: 0.6;
	align-self: center;
	margin: 0.3rem 0;
}

#amount {
	color: #0042A0;
}