@charset "UTF-8";

.text-color-navy {
	color: #0042A0;
}

.text-color-black {
	color: #151515;
}

.menu{
	border: 1px solid #DEDEDE;	
	border-radius: 1rem;
	padding: 1rem 0;
	text-align: center;
	margin: 3rem 0 0 0;
}

.menu-main {
	font-size: 1.3rem;
	font-weight: 600;
	color: #0042A0;
}

