@charset "UTF-8";

.text-color-navy {
	color: #0042A0;
}

.text-color-black {
	color: #4b4b4b;
	font-size: 0.8rem;
}

.menu{
	border: 1px solid #DEDEDE;	
	border-radius: 1rem;
	padding: 1rem 0;
	text-align: center;
	margin: 3rem 0 0 0;
}

.menu-main {
	font-size: 1.2rem;
	font-weight: 700;
	color: #0042A0;
}

.menu li {
	margin: 1rem 0;
	list-style:none;
}

.menu li a{
	text-decoration: none;
}

.menu-sub {
	font-size: 0.9rem;
	color: #7c7e7e;
}
li:hover{
	color : black;
}
/*  a:link {text-decoration: none;}
 a:visited {text-decoration: none;}
 a:hover {text-decoration: none;} */