<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 서버 돌릴 시 '../static/ 빼기! -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/fundingDetail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>CLOVER</title>
</head>
<!--  펀딩 디테일 페이지  -->
<body>
	<div>
		<!-- Navbar -->
		<div th:insert="navbar :: navbar"> </div> 
		
		<div class="container">
			<div class="section" style="padding: 3rem 0 0 0;">
				<!-- 상단 정보 카드 -->
				<div class="row">
				    <div class="col-5">
				    	<!-- 왼쪽 카드 -->
				    	<div class="company-info">
				    	
				    		<!-- 기업 이름 -->
				    		<div class="row">
				    			<div class="company-name" th:text="${fund.company.name}"></div>
				    		</div>
				    		
				    		<!-- 퍼센트바 -->
				    		<div class="row">
				    			<progress th:value="${fund.currentAmount}" th:max="${fund.targetMaxAmount}" style="width: 25rem; height: 1.7rem; margin: 0 0 0 8rem;" ></progress>

				    			<div style="color: #D9D9D9"><span th:text="${fund.targetMaxAmount}" style="color: #D9D9D9"></span>원</div>
				    			
				    		
				    		</div>
				    		
				    		<!-- 관심기업으로 등록한 사용자 수 -->
				    		<!-- <div class="row">
					    		<div class="liked-company mt-3 mb-3">
					    			<div class="mx-3">LOVERS</div>
					    			<div class="text-color-navy">125명</div>
					    		</div>
				    		</div> -->
				    		
				    		<!-- 키워드 -->
				    		<div class="row">
					    		<div class="d-flex mt-4 mb-4 justify-content-end" style="padding-right: 0;">
					    			<div class="keyword text-color-navy">#펀딩성공률 53%</div>
					    			<div class="keyword text-color-navy">#러버추천</div>
					    			<div class="yellow-keyword text-color-navy">#비건 뷰티</div>
					    		</div>
				    		</div>
				    		
				    		
				    		
				    		<!-- 펀딩기간 & 디데이 -->
				    		<div class="d-flex justify-content-end align-items-center">
					    		<div class="dday">D-32</div>
				    		</div>
				    		<div class="d-flex justify-content-end align-items-centers mt-2 mb-4">
				    			<div class="text-color-navy" style="font-size: 0.8rem"th:text="${#temporals.format(fund.startDate, 'yy-MM-dd')}"></div>
			    				<div class="text-color-navy mx-1" style="font-size: 0.8rem"> - </div>
			    				<div class="text-color-navy" style="font-size: 0.8rem" th:text="${#temporals.format(fund.endDate, 'yy-MM-dd')}"></div>
				    		</div>
				    		
				    		
				    		<!-- 아이콘 -->
				    		<div class="row mt-4 justify-content-end align-items-center">
				    		
				    			<div class="col-2 align-items-center">
				    				<a href="">
				    					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16" style="color: #0042A0;">
										  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
										</svg>
				    				</a>
				    			</div>
				    			
	
				    			<div class="col-2" >
				    				<!-- 좋아요 -->
				    				<a href="#" id="likeButton1" onclick="handleLike()" >
				    					<input type="hidden" id="like_check1" th:value="${like}" />
									    <svg id="likeImg" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16" style="color: #0042A0;">
									        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
									   </svg> 
									</a>
									<a href="#" id="likeButton2" onclick="handleLike()" >
										<input type="hidden" id="like_check2" th:value="${like}" />
									    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16" style="color: #0042A0;">
									        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
									    </svg>
									</a> 
				    			</div>
				    			
				    		
				    		</div>
				    		
				    		<!-- 투자하기 버튼 -->
				    		<a th:href="@{/fundingPay}" type="button" class="btn-navy">투자하기</a>
				    		
				    	</div>
					</div>
					
					<!-- 기업 사진 -->
					<div class="col-7 company-img-container">
						<img class="company-img" src="https://github.com/CLOVER-DUCK/Clover/blob/develop/src/main/resources/static/img/sitta.jpeg?raw=true"/>
					</div>
					<!-- static/detailFunding 안에 기업명.png 파일을 넣으면 알아서 상세목록에 사진이 들어갑니다. -->
<!-- 					<div class="col-7 company-img-container"> -->
<!-- 						<img class="company-img" th:src="@{../detailFunding/}+${fund.imgName}" alt="${fund.imgName}"/> -->
<!-- <!-- 						<div th:text="${fund.imgName}"></div> -->   이 줄은 테스트출력확인용 -->
<!-- 					</div> -->
					
				</div> <!-- 상단 정보 카드 -->
				
				<!-- 하단 탭 -->
				<div class="row justify-content-center">
					<!-- 탭 메뉴 -->
					<div class="tab_menu d-flex justify-content-evenly m-5">
						<p class="is_on"><a class="tab-list" href="#tab1">기업소개</a></p>
						<p class=""><a class="tab-list" href="#tab2">재무분석</a></p>
						<p class=""><a class="tab-list" href="#tab3">진행 중인 펀드</a></p>
						<p class=""><a class="tab-list"  href="#tab4">완료된 펀드</a></p>
					</div>
					
					<!-- 카드 -->
					<div class="cont_area">
					
						<!-- 기업소개 -->
						<div id="tab1" class="cont" style="display:block; margin: 3rem 2rem auto;">
						    <div class="intro-container">
						    	<div class="">
						            <img class="intro-img" src="https://github.com/CLOVER-DUCK/Clover/blob/develop/src/main/resources/static/img/sitta.jpeg?raw=true"/>
						        </div>
						        <div class="col-4 mx-5 justify-content-end">
						            <div class="intro-title" th:text="${fund.title}"></div>
						            <div class="intro-content" th:text="${fund.content}"></div>
						        </div>
						        
						    </div>
						
						    <!-- <div class="">
						        <div class="core-biz-title">
						            핵심 사업
						        </div>
						    </div> -->
						</div>
						
						<!-- 재무분석 -->
						<div id="tab2" class="cont" >
							<!-- 기업이름 -->
							<div class="finance-container">
								<div th:text="${fund.company.name}" class="finance-title"></div>
							</div>

                        <!-- 재무제표 -->
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <canvas id="myChart"></canvas>
                            </div>
                            <div class="col-2"></div>
                        </div>
							
						</div>
						
						<!-- 진행 중인 펀드 목록 -->
						<div id="tab3" class="col-6 justify-content-center cont">
						<div th:each="myFund : ${myFunds}" class="card mb-5">
						    <p th:text="${myFund}"></p>
						</div>
							<div th:each="nowFund : ${nowFunds}" class="card mb-5" style="width: 50rem; margin: 0 17rem auto;">
								<div class="card-body d-flex flex-colum">
									<div class="col-3">	
										<img width="280" height="180" src="https://github.com/CLOVER-DUCK/Clover/blob/develop/src/main/resources/static/img/sitta.jpeg?raw=true" style="margin: 0.5rem 0 auto;">
									</div>
									<div class="col-7 justify-content-end" style="margin: 2rem 0 0 8rem;">
										<div class="row">
											<h5 class="card-title" th:text="${nowFund.title}"></h5>
											<div class="d-flex">
			  									<div class="text-color-navy" th:text="${#temporals.format(nowFund.startDate, 'yy.MM.dd')}"></div>
							    				<div class="text-color-navy mx-1"> - </div>
							    				<div class="text-color-navy" th:text="${#temporals.format(nowFund.endDate, 'yy.MM.dd')}"></div>
							    			</div>
							    			<div class="text-end mt-2" style="color: #D9D9D9;">
							    				<div th:text="${nowFund.targetMaxAmount}"></div>
							    			</div>
							    			<div class="">
							                    <div class="percentage-bar"></div>
							                </div>
										</div>
									
									</div>
									
								</div>
								
							</div>
						</div>
						
						
						<!-- 완료된 펀드 -->
						<div id="tab4" class="cont">
							<div th:each="doneFund : ${doneFunds}" class="done-container">
								<div class="row">
									<h5 class="mb-3 fw-bold" th:text="${doneFund.title}"></h5>
									<div class="d-flex">
										<div class="mb-2">투자 기간 : <span class="text-navy-style" th:text="${#temporals.format(doneFund.startDate, 'yy.MM.dd')}"></span></div>
										<div class="text-navy-style mx-1"> - </div>
										<div class="text-navy-style" th:text="${#temporals.format(doneFund.endDate, 'yy.MM.dd')}"></div>
									</div>
								</div>
								<div class="row">
										<div>달성 금액 : <span class="text-navy-style" th:text="${doneFund.currentAmount}"></span></div>
								</div>
							</div>
						</div>
					    
					</div> 
					
					<div class="col-5 justify-content-end" style="margin: 8rem 0 0 87rem;">
	    				<!-- Kakao -->
		    			<a id="kakao-link-btn" href="javascript:kakaoShare()" style="text-decoration: none;">
						  <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" width=30 height=30/>									
						</a>
						<!-- Twitter -->
						<a class="mx-2" id="twitter-link-btn" href="javascript:twitterShare()" style="text-decoration: none;">
						  <img src="https://www.thebusinessdesk.com/_files/images/sep_21/630-6308222_image-transparent-twitter-icon-png-png-download-300x295.png" width=34 height=34/>
						</a>
						<!-- Facebook -->
						<a id="facebook-link-btn" href="javascript:facebookShare()" style="text-decoration: none;">
						  <img src="https://cdn-icons-png.flaticon.com/512/3536/3536394.png" width=30 height=30/>
						  
						</a>
	    			</div>
					
					<!-- 댓글 -->
					<div class="row mt-2 mb-5">
						<div class="col-3 text-color-navy" style="font-size: 1.5rem; font-weight:500; margin: 0 0 0 10rem;">
						댓글</div>
					</div>
					
					<div class="">
						<!-- 댓글 입력창 -->
						<div class="row">
							<form method="post" th:action="@{/fundingDetail/{id}/comment(id=${fund.id})}">
								<div class="comment-container">
									<div class="row">
										<div class="col-2 mx-3" th:text="${user.nickname}" style="font-size: 1.2rem; font-weight: 510;"></div>
									</div>
									
									<div class="row">
										<div class="col-11">
											<div class="input-group" style="margin: 1rem 1rem;">
											  <textarea type="text" class="form-control" name="content" placeholder="댓글을 작성해주세요" aria-label="Username" aria-describedby="basic-addon1" style="border: none"></textarea>									  
											  <input type="hidden" class="form-control" name="funding" th:value="${fund.id}"/>									  
											</div>
										</div>
									</div>
									
									
									<div class="row justify-content-end">
										<div class="col-2">									
											<button type="submit" class="comment-btn" style="margin: 0 0 0 5rem;">등록</button>
										</div>
									</div>
								</div>
								
								
							</form>
						</div>
						
						<!-- 댓글 리스트  -->
						<div class="row" th:each="comment : ${commentList}">
							<div class="comment-list-container">
								<div class="row">
									<div class="col-2 " th:text="${comment.user.nickname}" style="margin: 1rem 0; font-weight: 700;"></div>
								</div>
								<div class="row">
									<div class="col-10 comment-content" th:text="${comment.content}" style="margin: 0 0;"></div>
								</div>
							</div>
							
						</div>
						
					</div>	<!-- 댓글  -->
					
					
    			
				</div> <!-- 하단 탭 -->
			
    			
			</div> <!-- section -->
		</div> <!-- Container -->
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript">
    /* 카카오톡 공유 */

    // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('efbcb7d594888e3c7036cab80e426ecc');

    function kakaoShare() {
        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: 'CLOVER',
                description: 'CLOVER test',
                imageUrl: 'https://siita.co.kr/data/skin/front/awesome_kr_1012/img/banner/7722f20f8a78dbbd6f90d1dc4cbca443_91936.jpg',
                link: {
                    mobileWebUrl: 'naver.com',
                    webUrl: 'naver.com',
                },
            },
            buttons: [
                {
                    title: '웹으로 보기',
                    link: {
                        mobileWebUrl: 'naver.com',
                        webUrl: 'naver.com',
                    },
                },
            ],
            // 카카오톡 미설치 시 카카오톡 설치 경로이동
            installTalk: true,
        });
    }

    /* 트위터 공유 */
    function twitterShare() {
        var sendText = "CLOVER"; // 전달할 텍스트
        var sendUrl = "naver.com/"; // 전달할 URL
        window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
    }

    /* 페이스북 공유 */
    function facebookShare() {
        var sendUrl = "naver.com/"; // 전달할 URL
        window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
    }

</script>

<!-- Tab Menu -->
<script type="text/javascript">
    const tabList = document.querySelectorAll('.tab_menu .tab-list');
    const contents = document.querySelectorAll('.cont_area .cont');
    let activeCont = '#tab1';  // 현재 활성화 된 컨텐츠

    for (var i = 0; i < tabList.length; i++) {
        tabList[i].addEventListener('click', function (e) {
            e.preventDefault();
            for (var j = 0; j < tabList.length; j++) {
                // 나머지 버튼 클래스 제거
                tabList[j].parentNode.classList.remove('is_on');

                // 나머지 컨텐츠 display:none 처리
                contents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this.parentNode.classList.add('is_on');

            // 버튼 클릭시 컨텐츠 전환
            activeCont = this.getAttribute('href');
            document.querySelector(activeCont).style.display = 'block';
        });
    }

</script>

<!-- 좋아요 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    const clickLikeUrl = "bi bi-suit-heart-fill";
    const emptyLikeUrl = "bi bi-suit-heart";

    function updateLikeIcon() {
        let likeVal = $('#like_check1').val();

        /*         if (likeVal === 'true') {
                    $('#likeButton1').css('display', 'none');
                    $('#likeButton2').css('display', 'block');
                } else if (likeVal === 'false') {
                    $('#likeButton2').css('display', 'none');
                    $('#likeButton1').css('display', 'block');
                } */

        if (likeVal) {
            $('#likeButton1').hide();
            $('#likeButton2').show();

        } else {
            $('#likeButton2').hide();
            $('#likeButton1').show();

        }
    }

    function handleLike() {
        // 좋아요 버튼 클릭 시 Ajax 요청
        event.preventDefault();
        // 좋아요 상태에 따라 Ajax 요청 처리
        var basicURL = /*[[@{'/fundingDetail'}]]*/;
        let fid = /*[[${fund.id}]]*/
            // let likeVal = $('#like_check1').val();
            let
        likeVal = $("input:checkbox[id='like_check1']").is("checked")

        var userId = /*[[${session.user.id}]]*/;


        let url = basicURL + "/" + fid + (likeVal ? '/removeLike' : '/addLike');

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                fundingId: fid,
                userId: userId,
            },

            success: function (data) {
                // 좋아요 상태 변경 후 아이콘 업데이트
                /* likeVal = !likeVal; */
                /* if (likeVal) {
                    likeCheckbox.prop('checked', true); // Check the checkbox
                    $('#likeButton1').hide();
                    $('#likeButton2').show();
                  } else {
                    likeCheckbox.prop('checked', false); // Uncheck the checkbox
                    $('#likeButton2').hide();
                    $('#likeButton1').show();
                  } */

                if (data == "true") {
                    data = true;

                } else {
                    data = false;
                }

                console.log(data);
                console.log(typeof data);
                $('#like_check1').val(data);

                updateLikeIcon();

                // 좋아요 버튼을 누르면 likeVal 값을 false로 변경
                /* if (likeVal) {
                    $('#like_check1').val('false');
                    likeVal.val('false');
                } else {
                    $('#like_check1').val('true');
                    likeVal.val('true');
                } */
                console.log(likeVal);
            },
            error: function (xhr, status, error) {
                // 에러 처리
                console.log(error);
            }
        });
    }

    $(document).ready(function () {
        // 페이지 로딩 시 좋아요 상태에 따라 하트 아이콘 초기화
        updateLikeIcon();
    });


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    fetch(window.location.href + '/chartdata', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                new Chart(ctx, data);
            })
        })
        .catch(function (error) {
            console.log(error);
            new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['2022', '2021', '2020'],
                        datasets: [{
                            label: '',
                            data: [0, 0, 0],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                }
            );
        });
</script>
</body>
</html>
