<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
    <title>Clover | 로그인</title>
    <!-- 	로그인페이지 -->
    
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
	font-family: 'Noto Sans KR', sans-serif;
}
</style>
</head>
<body style="padding-top:5.5rem;">


<div>
    <div th:insert="navbar :: navbar"> </div> 
    <div th:insert="banner :: banner"></div>
    <div class="container">
        <section class="section">
            <article class="container" style="max-width: 30rem; min-height: 55vh">
                <div class="w-100 mt-5 py-2">
                    <h2 class="text-center fw-bold">로그인</h2>
                </div>
                
             
                <form class="p-5 m-auto w-100" style="" action="" method="post" th:action="@{/loginCheck}" th:object="${users}" >
                	<!-- 오류 메시지 표시 -->
   				 
                    <div class="mb-2">
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="이메일" 
                        required autofocus>
                    </div>
                    <div class="mb-2">
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password"   placeholder="비밀번호" required>
                    </div>
                    <p th:if="${error}" class="error-message" th:text="${error}" style="color: red; font-size: 0.8rem;"></p>
                    <button type="submit" class="btn btn-primary my-3 w-100" style="background: #0042A0">로그인</button>
                   
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=889ae827e01a868e8659538a26baff3d&redirect_uri=http://localhost:8080/kakao&response_type=code">
		          		 <button type="button" class="btn w-100" style="background: #FEE500;" >카카오 계정으로 로그인</button>
		          		
		        	</a>
                </form>
             
                <div class="row text-center">
	                
	                <a th:href="@{/registerInvestor}">회원가입</a> <!--<a href="#" class="">회원정보 찾기</a>  -->
                </div>
                
            </article>
        </section>
    </div>
</div>
<div th:insert="footer :: footer"> </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>
</html>
