<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>Title</title>
    <!-- 	회원가입 - 기업 -->
    <style>
        .active {
            border-color: #0042A0 !important;
            background: #0042A0 !important;
            color: #fff !important;
        }
    </style>

</head>
<body>
<div>
    <div class="nav"></div>
    <div class="container">
        <section class="section">
            <article class="container" style="max-width: 30rem">
                <div class="w-100 mt-5 py-4 my-4">
                    <h2 class="text-center fw-bold">회원가입</h2>
                </div>
                <ul class="nav-tabs row justify-content-start m-0 p-0 text-center fs-5 shadow">
                    <li class="nav-item col p-0">
                        <a class="py-3 nav-link " href="#">
                            투자자 회원
                        </a>
                    </li>
                    <li class="nav-item col p-0">
                        <a class="py-3 nav-link active" href="#">
                            기업 회원
                        </a>
                    </li>
                </ul>
                <form class="p-5 m-auto align-items-start bg-light shadow border-top border-primary border-4 mb-5"
                      style="border-color: #0042A0 !important;">
                    <div class="mb-4">
                        <label for="name">
                            기업명
                            <ruby>*</ruby>
                        </label><input type="text" class="form-control" id="name" placeholder="">
                    </div>
                    <div class="mb-4">
                        <label for="name">
                            사업자등록번호
                            <ruby>*</ruby>
                        </label><input type="text" class="form-control" id="name" placeholder="">
                    </div>
                    <div class="mb-4 row">
                        <label for="sector" class="col-6">
                            산업 선택
                            <ruby>*</ruby>
                        </label>
                        <label for="logo" class="col-6">
                            회사 대표 로고 이미지
                            <ruby>*</ruby>
                        </label>
                        <!-- Example single danger button -->
                        <div class="dropdown col-6">
                            <input type="text" class="form-control mb-2" id="sector"
                                   placeholder="">
                        </div>
                        <div class="col-6">
                            <input type="file" class="form-control mb-2" id="logo"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <div class="row col-12">
                            <label for="exampleInputPostalcode">주소
                                <ruby>*</ruby>
                            </label>
                            <div class="col-4">
                                <input type="email" class="form-control mb-2" id="exampleInputPostalcode"
                                       placeholder="" disabled>
                            </div>
                            <button type="submit" class="btn col-3 btn-secondary mb-2">우편번호</button>
                        </div>
                        <label for="exampleInputAddress"></label>
                        <div class="col-12">
                            <input type="email" class="form-control mb-2" id="exampleInputAddress" placeholder=""
                                   disabled>
                        </div>
                        <label for="exampleInputDeailAdress"></label>
                        <div class="col-12">
                            <input type="email" class="form-control mb-2" id="exampleInputDeailAdress" placeholder="">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputPhone" class="form-label">기업 전화번호
                                <ruby>*</ruby>
                            </label>
                            <input type="tel" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp"
                                   placeholder="">
                            <div id="phoneHelp" class="form-text"></div>
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputEmail1" class="form-label">기업 이메일
                                <ruby>*</ruby>
                            </label>
                            <div class="row justify-content-start">
                                <div class="col-9">
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="">
                                </div>
                                <button type="submit" class="btn btn-primary col-3" style="background: #0042A0">인증 하기
                                </button>
                            </div>
                            <div id="emailHelp" class="form-text">이미 존재하는 이메일입니다.</div>
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputName" class="form-label">담당자 이름
                                <ruby>*</ruby>
                            </label>
                            <input type="text" class="form-control" id="url" aria-describedby="emailHelp"
                                   placeholder="">
                        </div>
                        <div class="mb-4">
                            <hr>
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputName" class="form-label">담당자 이름
                                <ruby>*</ruby>
                            </label>
                            <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                                   placeholder="">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputNickname" class="form-label">아이디
                                <ruby>*</ruby>
                            </label>
                            <input type="email" class="form-control" id="exampleInputNickname"
                                   placeholder="">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label">비밀번호
                                <ruby>*</ruby>
                            </label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                            <div id="passwordHelp" class="form-text">8~16 영문 대,소문자, 숫자, 특수문자를 포함해주세요.</div>
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputPassword2" class="form-label">비밀번호 확인
                                <ruby>*</ruby>
                            </label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="">
                        </div>
                    </div>
                    <div class="mb-2 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">약관 전체동의</label>
                        <div class="form-text">회원약관 동의(필수), 개인정보처리방침(필수), 개인정보위탁
                            방침(필수), 사이트이용약관(필수), 만14세이상(필수)
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary my-3 w-100" style="background: #0042A0">회원가입</button>
                </form>
            </article>
        </section>
    </div>
    <div class="footer"></div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
